<div class="block-header">
    <div class="row">
        <div class="col-lg-7 col-md-6 col-sm-12">
            <h2>Passengers</h2>
            <ul class="breadcrumb">
                <li class="breadcrumb-item"><a [routerLink]="['/dashboard']"><i class="zmdi zmdi-home"></i> Trackers</a></li>
                <li class="breadcrumb-item active">View all Passengers</li>
            </ul>
            <button class="btn btn-primary btn-icon mobile_menu" type="button"><i class="zmdi zmdi-sort-amount-desc"></i></button>
        </div>
        <div class="col-lg-5 col-md-6 col-sm-12">                
            <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button" (click)="toggleRightBar()"><i class="zmdi zmdi-arrow-right"></i></button>
        </div>
        
    </div>

    <div class="container-fluid">
            <div class="row clearfix">
                <div class="col-lg-12">
                    <div class="card">
                        <div class="table-responsive">
                        <table class="table table-hover c_table theme-color">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Passenger Name</th>
                                    <th>Address</th>
                                    <th>E-mail</th>
                                    <th>Telephone</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr>
                                    <td>01</td>
                                    <td><strong><a href="javascript:void(0);">Supun</a></strong></td>
                                    <td><ul>
                                        <li><a href="#">Kalutara</a></li>                                        
                                        </ul>
                                    </td>
                                    <td><span class="col-green">abc@gmail.com</span></td>
                                    <td>
                                        071-1234567
                                    </td>
                                </tr>

                                <tr>
                                    <td>02</td>
                                    <td><strong><a href="javascript:void(0);">Imesh</a></strong></td>
                                    <td><ul>                                        
                                        <li><a href="#">Colombo</a></li>
                                        </ul>
                                    </td>
                                    <td><span class="col-red">imaseh@gmail.com</span></td>
                                    <td>
                                        077-9876543
                                    </td>
                                </tr>
                                
                            </tbody>
                        </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>

</div>